body{
	background-color: #202224;
  	font-family: Arial, sans-serif;
  	margin: 20px;
  	color: white;
}
.navbar-color{
	background-color: #2787AD;
}
#titulo{
	margin: 100px;
	font-size: 55px;
}
#iconoMusical{
	margin-left: 130px;
}
.btn{
	margin: 15px;
	font-size: 28px;
}
#botonComenzar{
	margin-top: 70px; 
}
#titulosNavBar{
	margin-right: 550px;
	font-size: 55px;
}
.involucrados{
	margin-top: 10px;
	margin-bottom: 50px;
	background-color: #6883C2; 
}
.fotos{
	width: 180px;
	height: 180px;
	margin-right: 80px;
	margin-left: 80px;
}
.niveles{
	margin-top: 500px;
}


.skills { 
  display:table; 
  margin:100px auto 0; 
  width:550px; 
  color:#fff; 
  margin-top: 80px !important;
}

.skill { 
  display:table-row; 
 }
      
.skill span, .skill a { 
  display:table-cell; 
  padding:5px 0; 
}
.label { font-size:.8em; color:#888; }


.levelBar { 
  position:relative; top:100px;  
  margin:0 auto; 
  width:300px; height:25px; 
  border-top:2px solid #4b4d4f; 
  border-bottom:2px solid #4b4d4f; 
  
  -webkit-transition:all 2s; transition:all 2s;
}
.levelBar:before, .levelBar:after { 
  content:''; display:block; 
  position:absolute; left:-11px; top:2px; 
  border-left:2px solid #4b4d4f; 
  border-top:2px solid #4b4d4f; 
  width:19px; height:19px; 
  
  -webkit-transform:rotate(-45deg); 
  -moz-transform:rotate(-45deg); 
  transform:rotate(-45deg); 
  
  -webkit-transition:all 2s; transition:all 2s;
}
.levelBar:after { 
  left:auto; right:-11px;  
  border-left:0;
  border-right:2px solid #4b4d4f; 
  
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg);
}
.levelBar.leveled, 
.levelBar.leveled:before, 
.levelBar.leveled:after { -webkit-animation: glow 1s; animation: glow 1s;
}

.leftArrow, .rightArrow { 
  position:absolute; left:-21px; top:2px; 
  border-left:2px solid #4b4d4f; 
  border-top:2px solid #4b4d4f; 
  width:19px; height:19px; 
  
  -webkit-transform:rotate(-45deg); 
  -moz-transform:rotate(-45deg); 
  transform:rotate(-45deg); 
  
  -webkit-transition:all 2s; transition:all 2s;
}
.rightArrow { 
  left:auto; top:2px; right:-21px; 
  border-left:0;
  border-right:2px solid #4b4d4f; 
  -webkit-transform:rotate(45deg);
}

.leftArrow:before { 
  content:''; display:block;
  position:absolute;
  border-right:2px solid #424f4b;
  border-bottom:2px solid #424f4b;
  height:15px; width:15px;
  
  -webkit-transition:all 2s; transition:all 2s;
}
.rightArrow:before { 
  content:''; display:block;
  position:absolute; top:0px; left:2px;
  border-left:2px solid #424f4b;
  border-bottom:2px solid #424f4b;
  height:15px; width:15px;
  
  -webkit-transition:all 2s; transition:all 2s;
}

.leveled .rightArrow, 
.leveled .leftArrow, 
.leveled .rightArrow:before, 
.leveled .leftArrow:before { -webkit-animation: glow 1s; animation: glow 1s;
}

.levelText { color:#fff; text-align:center; font-size:1.5em; opacity:0; }
.levelText.fade { -webkit-animation: shiftUpFadeIn 2s; animation: shiftUpFadeIn 2s; }


@-webkit-keyframes glow {
  0%   { border-color:#424f4b; box-shadow:0 0 0px #fff }
  25%  { border-color:#eee; box-shadow:0 0 2px #fff }
  50%  { border-color:#424f4b; box-shadow:0 0 8px #fff }
  75%  { border-color:#424f4b; box-shadow:0 0 0px #fff }
  100% { border-color:#424f4b; box-shadow:0 0 0px #fff }
}

@keyframes glow {
  0%   { border-color:#424f4b; box-shadow:0 0 0px #fff }
  25%  { border-color:#eee; box-shadow:0 0 2px #fff }
  50%  { border-color:#424f4b; box-shadow:0 0 8px #fff }
  75%  { border-color:#424f4b; box-shadow:0 0 0px #fff }
  100% { border-color:#424f4b; box-shadow:0 0 0px #fff }
}


@-webkit-keyframes shiftUpFadeIn {
  0%   { opacity:0; margin-top:-5px; }
  80%   { opacity:1; margin-top:-20px;  }
  100% { opacity:0; margin-top:-20px; }
}

@keyframes shiftUpFadeIn {
  0%   { opacity:0; margin-top:-5px; }
  80%   { opacity:1; margin-top:-20px;  }
  100% { opacity:0; margin-top:-20px; }
}