body{
	background-color: #202224;
  	font-family: Arial, sans-serif;
  	margin: 20px;
  	color: white;
}
.navbar-color{
	background-color: #2787AD;
}
#titulo{
	margin: 100px;
	font-size: 55px;
}
#iconoMusical{
	margin-left: 130px;
}
.btn{
	margin: 15px;
	font-size: 28px;
}
#botonComenzar{
	margin-top: 70px; 
}
#tCreditos{
	margin-right: 550px;
	font-size: 55px;
}
#involucrados{
	margin-top: 50px;
}
.fotos{
	width: 180px;
	height: 180px;
	margin-right: 80px;
	margin-left: 80px;
}